@model IEnumerable<Taxi.WebUI.ViewModels.CarViewModel>

@{
    ViewData["Title"] = "Cars on repair";
}

<h1>Cars on repair</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GovernmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRepair)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td asp-display-for="@item.GovernmentNumber"></td>
            <td asp-display-for="@item.Model"></td>
            <td asp-display-for="@item.Color"></td>
            <td asp-display-for="@item.YearOfIssue"></td>
            <td asp-display-for="@item.RegistrationNumber"></td>
            <td asp-display-for="@item.IsRepair"></td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Cars">Back to List</a>
</div>
