@model IEnumerable<Taxi.WebUI.ViewModels.DriverViewModel>

@{
    ViewData["Title"] = "All drivers";
}

<h1>Drivers and their car</h1>

<p>
    <a asp-action="Create">Create new</a>
    <a asp-action="GiveCar">Give car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Call sign
            </th>
            <th>
                Surname
            </th>
            <th>
                Name
            </th>
            <th>
                Patronymic
            </th>
            <th>
                Driver license number
            </th>
            <th>
                Date of issue of drivers license
            </th>
            <th>
                Is sick leave
            </th>
            <th>
                Is on holiday
            </th>
            <th>
                Car government number
            </th>
            <th>
                Car model
            </th>
            <th>
                Car yearOfIssue
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td asp-display-for="@item.CallSign"></td>
                <td asp-display-for="@item.Surname"></td>
                <td asp-display-for="@item.Name"></td>
                <td asp-display-for="@item.Patronymic"></td>
                <td asp-display-for="@item.DriverLicenseNumber"></td>
                <td asp-display-for="@item.DateOfIssueOfDriversLicense"></td>
                <td asp-display-for="@item.IsSickLeave"></td>
                <td asp-display-for="@item.IsOnHoliday"></td>
                <td asp-display-for="@item.Car.GovernmentNumber"></td>
                <td asp-display-for="@item.Car.Model"></td>
                <td asp-display-for="@item.Car.YearOfIssue"></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>