@model IEnumerable<Taxi.WebUI.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "All orders";
}

<h1>Orders and driver call sign</h1>

<p>
    <a asp-action="ActiveOrders">Active orders</a>
    <a asp-action="InActiveOrders">In active orders</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td asp-display-for="@item.Date"></td>
                <td asp-display-for="@item.IsDone"></td>
                <td asp-display-for="@item.Cost"></td>
                <td asp-display-for="@item.Distance"></td>
                <td asp-display-for="@item.Discount"></td>
                <td asp-display-for="@item.Driver.CallSign"></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                </td>
            </tr>
        }
    </tbody>
</table>